*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: "Microsoft Yahei",
        "微软雅黑",
        Arial,
        "PingFang SC",
        Helvetica,
        "Hiragino Sans GB",
        sans-serif;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
    outline: none;
}

.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    visibility: hidden;
    display: block;
    clear: both
}

.clearfix {
    zoom: 1;
}